.container {
    height: 48px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.imagen {
    margin-left: 2vw;
    height: 30px;
    width: 100px;
}

.boton {
    margin-right: 2vw;
    width: 42px;
    height: 20px;
    background: #FF452B;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
}