header {
    height: 48px;
    width: calc(100vw);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 3px;
}

header nav {
    height: 100%;
    width: calc(100% - 40px);
    margin: 0 20px;
}

header nav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav ul li {
    margin: 0 5px;
}

header nav ul :nth-child(1) {
    margin: 0 auto 0 0;
}

header nav ul :nth-child(2) {
    background: #FF452B;
    height: 20px;
    width: 42px;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    align-items: center;
}

header nav ul li button {
    width: 42px;
    height: 20px;
    background: #FF452B;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
}

header nav ul :nth-child(2) p {
    margin: 0;
}

header nav ul li img {
    height: 30px;
    width: 100px;
}

header nav ul li p {
    margin: 0;
    font-size: 13px;
    line-height: 15.73px;
    font-weight: 400;
}

@media (min-width: 1190px) {
    header nav {
        width: calc(100% - 20px);
        margin: 0 10px;
    }
}