.layout {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows:  repeat(2, 1fr);
    grid-template-columns: repeat(2, 100%);
    grid-template-areas: "create-task create-task"
                         "task task";
    align-items: flex-start;
    background: #FFFFFF;
}

.createTask-section, .filters-section {
    height: calc(100vh - 20px);
    width: calc(100vw - 40px);
    margin: 0 21px 0 10px;
    padding: 0 10px;
}


.createTask-section {
    grid-area: create-task;
}

.filters-section {
    grid-area: task;
    background: #E5E5E5;
    border-radius: 8px;
}

.createTask, .filtersTask {
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.createTask h1, .filtersTask h1{
    margin: 0;
    width: 100%;
}

.createTask ul, .filtersTask ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.createTask li, .filtersTask li {
    margin: 15px 0;
    width: 100%;
}

.createTask select, .createTask input, .filtersTask select, .filtersTask input{
    width: 100%;
    height: 48px;
    padding: 0 5px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #E9E9E9;
    background: #FFFFFF;
    font-size: 16px;
    color: #8B8B8B;
}

.createTask input, .filtersTask input {
    width: calc(100% - 20px);
    padding: 0 10px;
    color: black;
}

.createTask textarea {
    height: 140px;
    width: calc(100% - 20px);
    border-radius: 8px;
    border: 1px solid #E9E9E9;
    padding: 10px;
    outline: none;
    font-size: 16px;
}

.createTask button {
    height: 42px;
    width: 100px;
    background: #FF452B;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
}


@media (min-width: 1190px) {
    .layout {
        grid-template-rows:  repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "create-task task";
        align-items: flex-start;
    }

    .createTask-section, .filters-section {
        height: calc(100vh - 5vh);
        width: calc(50vw - 40px);
        padding: 0 10px 0 10px;
        margin: 20px 0;
    }

    .filters-section {
        width: calc(50vw - 30px);
    }

    .createTask, .filtersTask {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
    }

    .createTask h1, .filtersTask h1 {
        font-size: 24px;
    }

    .createTask li, .filtersTask li {
        min-height: 37px;
        width: 30%;
        margin: 10px 0;
    }

    .filtersTask li {
        width: 45%;
    }

    .createTask select, .createTask input, .createTask textarea, .filtersTask select, .filtersTask input {
        font-size: 12px;
    }

    .createTask select, .createTask input, .filtersTask select, .filtersTask input {
        height: 100%;
    }

    .createTask ul :nth-child(4) {
        width: 100%;
    }

    .createTask ul :nth-child(5) {
        margin: 0;
    }

}