.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
    align-items: center;
    /* max-width: 500px; */
    /* align-self: center; */
}

.titulo {
    font-weight: 700;
    font-size: 2rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
}

.label {
    font-weight: 700;
    font-size: 1rem;
}

.centrarTexto {
    text-align: center;
}

.input {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 2px 10px;
    margin-top: 2px;
}

.msjError {
    font-size: 0.75rem;
}

.error {
    color: red;
    border-color: red;
}

.boton {
    margin-top: 1vh;
    border-radius: 16px;
    border: 1px solid grey;
    font-weight: 700;
    color: white
}

.botonEnviar {
    background-color: green;
}

.botonRegistrarse {
    background-color: blue;
}