.containerHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 5vw; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 5vw; */
    min-height: 100vh;
}

.titulo {
    font-weight: 700;
    font-size: 2rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.label {
    font-weight: 700;
    font-size: 1rem;
}

.centrarTexto {
    text-align: center;
}

.input {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 2px 10px;
    margin-top: 2px;
}

.msjError {
    font-size: 0.75rem;
}

.error {
    color: red;
    border-color: red;
}

.boton {
    margin-top: 1vh;
    border-radius: 16px;
    border: 1px solid grey;
    font-weight: 700;
    color: white
}

.botonEnviar {
    background-color: var(--color-primary);
}

.botonRegistrarse {
    background-color: green;
}

@media (min-width: 900px) {
    .formContainer {
        border: 1px solid grey;
        border-radius: 16px;
        padding: 2%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
}